= form_for @captured_pokemon, validate: true do |f|
  .form-group.ml-4.mr-4
    = f.label :location, class: "form-label required"
    = f.text_field :location, autofocus: true, class: "form-control"

  .row
    .offset-3.col-3
      = link_to "Atrás", captured_pokemons_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag "Guardar" , class: "btn btn-outline-success btn-block", 'data-disable-with': "Guardando"