= form_for @captured_pokemon, validate: true do |f|
  .form-group.ml-4.mr-4
    %h5.card-title= t('activerecords.attributes.captured_pokemon.location') 
    = f.text_field :location, autofocus: true, class: "form-control"

  .form-group.ml-4.mr-4
    %h5.card-title= "Entrenador"
    = f.select(:pokemon_trainer_id, options_for_select(@pokemon_trainers, @captured_pokemon.pokemon_trainer_id),
                          {prompt:"Seleccione"}, class:'form-control')
  .form-group.ml-4.mr-4
    %h5.card-title= "Pokemon"
    = f.select(:pokemon_id, options_for_select(@pokemons, @captured_pokemon.pokemon_id),
                          {prompt:"Seleccione"}, class:'form-control')


  .row
    .offset-3.col-3
      = link_to t('application.back_to', model: t('application.list_of', model: t('activerecords.modules.captured_pokemon.other'))),
              captured_pokemons_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag t('application.save'), class: "btn btn-outline-success btn-block",
      'data-disable-with': t('application.saving')

