.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = "Lista de pokemones capturados"

  %table.table.table-striped
    %thread
      %tr
        %th= "Locación"
        %th
        %th
        %th
    %tbody
      - @captured_pokemons.each do |captured_pokemon|
        %tr
          %td= captured_pokemon.location
          %td= link_to "Ver", pokemon_trainer, class: "btn btn-info"
          %td= link_to "Editar", edit_pokemon_trainer_path(pokemon_trainer), class: "btn btn-success"
          %td= link_to "Eliminar", pokemon_trainer, method: :delete, class: "btn btn-danger",
                                  data: {confirm: "Desea eliminarlo",
                                  accept: "OK",
                                  reject: "Cancelar"}
