= form_for @pokemon_trainer, validate: true do |f|
  .form-group.ml-4.mr-4
    = f.label :Nombre, class: "form-label required"
    = f.text_field :first_name, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :Apellido, class: "form-label required"
    = f.text_field :last_name, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :Region, class: "form-label required"
    = f.text_field :region, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :NumeroID, class: "form-label required"
    = f.number_field :id_number, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :Nivel, class: 'form-label required'
    = f.select(:level, options_for_select(levels, @pokemon_trainer.level),
                          {prompt:"Seleccione"}, class:'form-control') 

  .row
    .offset-3.col-3
      = link_to t('application.back', model: t('activerecord.modules.pokemon_trainer.other')), pokemon_trainers_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag "Guardar" , class: "btn btn-outline-success btn-block", 'data-disable-with': "Guardando"