%div{:id => "#{dom_id pokemon_trainer}"}
  %p
    %strong First name:
    = pokemon_trainer.first_name
  %p
    %strong Last name:
    = pokemon_trainer.last_name
  %p
    %strong Region:
    = pokemon_trainer.region
  %p
    %strong Id number:
    = pokemon_trainer.id_number
  %p
    %strong Level:
    = pokemon_trainer.level

