.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.pokemon_trainers.other'))
      .float-right
        = link_to t('application.new', model: t('activerecord.modules.pokemon_trainers.one')), new_pokemon_trainer_path, class: "btn btn-primary"
  %table.table.table-striped
    %thread
      %tr
        %th= t("activerecord.attributes.pokemon_trainer.first_name")
        %th= t("activerecord.attributes.pokemon_trainer.last_name")
        %th= t("activerecord.attributes.pokemon_trainer.region")
        %th= t("activerecord.attributes.pokemon_trainer.id_number")
        %th= t("activerecord.attributes.pokemon_trainer.level")
        %th
        %th
    %tbody
      - @pokemon_trainers.each do |pokemon_trainer|
        %tr
          %td= pokemon_trainer.first_name
          %td= pokemon_trainer.last_name
          %td= pokemon_trainer.region
          %td= pokemon_trainer.id_number
          %td= t("activerecord.attributes.pokemon_trainer.levels.#{pokemon_trainer.level}")
          %td= link_to t('application.show'), pokemon_trainer, class: "btn btn-info"
          %td= link_to t('application.edit'), edit_pokemon_trainer_path(pokemon_trainer), class: "btn btn-success"
          %td= link_to t('application.delete'), pokemon_trainer, method: :delete, class: "btn btn-danger",
                                  data: {confirm: t('application.want_to_delete', model: t('activerecord.modules.pokemon_trainers.one')),
                                  accept: t('application.accept'),
                                  reject: t('application.reject')}
