.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = "Lista de entrenadores"
      .float-right
        = link_to "Nuevo entrenador", new_pokemon_trainer_path, class: "btn btn-primary"
  %table.table.table-striped
    %thread
      %tr
        %th= t('activerecord.attributes.pokemon_trainer.first_name')
        %th= t('activerecord.attributes.pokemon_trainer.last_name')
        %th= t('activerecord.attributes.pokemon_trainer.region')
        %th= t('activerecord.attributes.pokemon_trainer.id_number')
        %th= t('activerecord.attributes.pokemon_trainer.level')
        %th        
    %tbody
      - @pokemon_trainers.each do |pokemon_trainer|
        %tr
          %td= pokemon_trainer.first_name
          %td= pokemon_trainer.last_name
          %td= pokemon_trainer.region
          %td= pokemon_trainer.id_number
          %td= t("activerecord.attributes.pokemon_trainer.levels.#{pokemon_trainer.level}")
          %td= link_to "Ver", pokemon_trainer, class: "btn btn-info"
          %td= link_to "Editar", edit_pokemon_trainer_path(pokemon_trainer), class: "btn btn-success"
          %td= link_to "Eliminar", pokemon_trainer, method: :delete, class: "btn btn-danger",
                                  data: {confirm: "Desea eliminarlo",
                                  accept: t('application.accept'),
                                  reject: "Cancelar"}

