%p#notice= notice
.div.m-4
  .card
    .card-body
      %h5.card-title
        = t('attributes.pokemon_trainer.first_name')
      %p.card-text &nbsp #{@pokemon_trainer.first_name}
      %h5.card-title
        = t('attributes.pokemon_trainer.last_name')
      %p.card-text &nbsp #{@pokemon_trainer.last_name}
      %h5.card-title
        = t('attributes.pokemon_trainer.region')
      %p.card-text &nbsp #{@pokemon_trainer.region}
      %h5.card-title
        = t('attributes.pokemon_trainer.id_number')
      %p.card-text &nbsp #{@pokemon_trainer.id_number}

  .row.mt-3
    .offset-3.col-3
      = link_to t('application.back', model: t('activerecord.modules.pokemon_trainer.other')), pokemon_trainers_path, class: "btn btn-secundary btn-block"

