%p#notice= notice
.div.m-4
  .card
    .card-body
      %h5.card-title
        = "Nombre"
      %p.card-text &nbsp #{@pokemon_trainer.first_name}
      %h5.card-title
        = "Apellido"
      %p.card-text &nbsp #{@pokemon_trainer.last_name}
      %h5.card-title
        = "Región"
      %p.card-text &nbsp #{@pokemon_trainer.region}
      %h5.card-title
        = "Identificación"
      %p.card-text &nbsp #{@pokemon_trainer.id_number}
      %h5.card-title 
        =t("activerecord.attributes.pokemon_trainer.level")
      %p.card-text &nbsp #{t("activerecord.attributes.pokemon_trainer.levels.#{@pokemon_trainer.level}")}

  .row.mt-3
    .offset-3.col-3
      = link_to "Atrás", pokemon_trainers_path, class: "btn btn-secundary btn-block"

