.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.pokemon.other'))
      .float-right
        = link_to t('application.back_to', model: t('activerecord.modules.crud.one')), root_path, class: "btn btn-primary"
 
  %table.table.table-striped
    %thread
      %tr
        %th= t('activerecord.attributes.pokemon.name')
    %tbody
      - @pokemons.each do |pokemon|
        %tr
          %td= pokemon.name